version: '3.9'

services:

  postgres:
    image: postgres:15
    container_name: pg
    restart: always
    environment:
      POSTGRES_USER: root # Keep the root user for initialization
      POSTGRES_PASSWORD: root
      POSTGRES_DB: goodreads
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./postgres_init:/docker-entrypoint-initdb.d # <--- MUST BE PRESENT

  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db

  redis:
    image: redis:7
    container_name: redis
    restart: always
    ports:
      - "6379:6379"

  neo4j:
    image: neo4j:5
    container_name: neo4j
    restart: always
    ports:
      - "7474:7474"   # browser
      - "7687:7687"   # bolt
    environment:
      NEO4J_AUTH: neo4j/password123
    volumes:
      - neo4jdata:/data

volumes:
  pgdata:
  mongodata:
  neo4jdata:
